/* Chatbot Container */
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Chatbot Button */
.chatbot-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.chatbot-button:hover {
    background-color: #0056b3;
}

/* Chatbox */
.chatbox {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 90%;
    height: 75%;
    /* height: 400px; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
}

.chatbox.active {
    display: flex;
}

/* Chatbox Header */
.chatbox-header {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: #ccc;
}

/* Chatbox Messages */
.chatbox-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Messages */
.message {
    max-width: 85%;
    padding: 8px 12px;
    border-radius: 10px;
}

.user-message {
    background-color: #0056b3;
    color: white;
    align-self: flex-end;
}

.bot-message {
    background-color: #dddddd;
    color: #333;
    align-self: flex-start;
}

/* Chatbox Input */
.chatbox-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatbox-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.chatbox-input button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatbox-input button:hover {
    background-color: #007bff;
}

/* Loading Message */
.loading-message {
    position: relative;
    color: #888;
    font-style: italic;
    width: 150px;
}

/* Typing Animation */
.loading-message::after {
    content: "";
    animation: typing 1s infinite;
}

@keyframes typing {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }

    100% {
        content: "";
    }
}

@media (min-width: 500px) {
    .chatbox {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .chatbox {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .chatbox {
        width: 50%;
    }
}