<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore and Resources</title>
    
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div class="top-nav">
            <a href="home.html">Home</a>
            <a href="meal.html">Meal</a>
            <a href="fitness.html">Fitness</a>
            <a href="signup.html">Sign Up</a>
          </div>
        
              

        

        <header>
            <h1>Explore & Resources</h1>
            <p>Explore a range of fitness and nutrition resources designed to support your health and wellness journey at Concordia University.
             Find expert tips, workout plans, and nutritional guides to help you stay active and healthy.
            </p>
            <nav>
                <ul>
                    <li><a href="#workouts">Workout Guides</a></li>
                    <li><a href="#nutaritcles">Nutrition Articles</a></li>
                    <li><a href="#mealgrocery">Meal Prep</a></li>
                    <li><a href="#healthyfoods">Popular Healthy Recipes</a></li>
                    <li><a href="#FAQ">Frequently Asked Questions</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="workouts">
                <h2>Some common workouts for maintaining physical fitness:</h2>
                <p>Physical Exercise is one of the most important factors of a fitness Plan. Here you will find some
                    common workouts with video tutorial to guide you.
                </p>
                <ul>
                    <li>Cardio Workouts(Improve heart health & endurance)</li>
                    <ol>
                        <li> <a href="https://youtu.be/ZlhCyrTTT4U?si=Ea9HdZVJ34AlhWrQ" target="_blank" style="text-decoration: none; color: inherit;">
                            Running or Jogging – Great for cardiovascular fitness and leg strength.
                             </a>
                        </li>
                        <li> <a href="https://youtu.be/4Hl1WAGKjMc?si=0zpOmesh9rdCRfsG" target="_blank" style="text-decoration: none; color: inherit;">
                            Cycling – Strengthens legs and improves endurance.
                             </a>
                            
                        </li>
                        <li><a href="https://youtu.be/DTdaiqR9now?si=PdqS877Zsjkm4RTm" target="_blank" style="text-decoration: none; color: inherit;">
                            Jump Rope – Excellent for full-body coordination and cardio.
                            </a>
                        </li>
                            
                        <li><a href="https://youtu.be/9D6DluTzcNA?si=nQOvkBIMLoFTUJX7" target="_blank" style="text-decoration: none; color: inherit;">
                            Swimming – Low-impact, full-body workout that builds endurance.
                        </a>
                        
                        </li>
                        <li><a href="https://youtu.be/fxx2Uc0AjFk?si=_W66v_kj8u3gpdjS" target="_blank" style="text-decoration: none; color: inherit;">

                            <p>High-Intensity Interval Training (HIIT) – Short bursts of intense exercise followed by rest.</p>
                        </a>
                        </li>

                    </ol>
                    <li>Strength Training (Muscle Growth & Toning)</li>
                    <ol>
                        <li><a href="https://youtu.be/30PqX2zvK88?si=lxU8jJTJxpo_XE34" target="_blank" style="text-decoration: none;color: inherit;">
                            Bodyweight Exercises: Push-ups, Squats, Lunges, Planks
                        </a>
                        </li>
                        <li><a href="https://youtu.be/0A3EgOztptQ?si=J9kAnH1Dk0eDuFNr" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Free Weights: Dumbbells, Barbells, Kettlebells.</p>
                        </a>
                        </li>
                        <li><a href="https://youtu.be/hQ2lHMP4kco?si=--xFA1yvyFlRohML" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Resistance Bands: Shoulder Press, Banded Squats</p>
                        </a>
                        </li>
                        <li><a href="https://youtu.be/uEsZWWiYNAQ?si=fhU_FGO8Mew7X_U7" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Machines: Leg Press, Lat Pulldown.</p>
                        </a>
                        </li>
                        
                    </ol>
                    <li>Flexibility & Mobility (Injury Prevention & Recovery)</li>
                    <ol>
                        <li><a href="https://youtu.be/chZsNmTUC2s?si=GwGxK5DKYl5QO_Lg" target="_blank" style="text-decoration: none; color: inherit;">

                            Static Stretching (Hamstring Stretch, Quad Stretch)
                        </a>
                    </li>
                        <li><a href="https://youtu.be/DgjiFOKWsfg?si=o14VPolBCC6Xvul9" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Dynamic Stretching (Leg Swings, Arm Circles)</p>
                        </a>
                    </li>
                        <li>
                            <a href="https://youtu.be/lVJS0mGr0jQ?si=9XvSvkkWjPS9fzXd" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Yoga (Sun Salutations, Warrior Pose)</p>
                        </a></li>
                        <li><a href="https://youtu.be/R0eqxnSyRkM?si=T-hSYi5E1OkJuB6S" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Pilates (Core & Mobility Workouts)</p>
                        </a></li>
                        <li><a href="https://youtu.be/NS73eSohTbc?si=P4dYaAvqSI3h56IZ" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Foam Rolling (Self-Myofascial Release)</p>
                        </a></li>
                    </ol>
                    
                    <li>Sports & Recreational Activities (Fun & Engaging Fitness)</li>
                    <ol>
                        <li><a href="https://youtu.be/kbgkeTTSau8?si=MlZvEfjB_qd1fxID" target="_blank" style="text-decoration: none; color: inherit;">
                            Boxing
                        </a>
                        </li>
                        <li><a href="https://youtu.be/sCq4ZylJcwg?si=0Si509fqBJoZLVvU" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Martial Arts</p>
                        </a>
                        </li>
                        <li><a href="https://youtu.be/IHHEKcfVIsg?si=2RJYUYWBYDVOEGBv" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Rock Climbing</p>
                           </a>
                        </li>
                        <li><a href="https://youtu.be/lE7-T_8gsdE?si=eU23Ykw4gyBpCboE" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Dance Fitness(Zumba, Hiphop)</p>
                           </a>
                        </li>
                        <li>
                            <p>Sports(Basketball,Soccer, Tennis)</p>
                            
                        
                        </li>

                    </ol>
                </ul>
            </section>
            <section id="nutaritcles"> 
                <h2>Some articles on the nutrition value of different foods and their impact on dietary plan </h2>
                <ul>
                    <p>"Eating the Right Foods for Exercise" – 
                        This article from Healthline discusses the importance of starting your day with a healthy meal, 
                        focusing on the right carbohydrates, incorporating adequate protein into your diet, and increasing
                        fruit and vegetable intake to support your exercise routine. 
                    </p>
                </ul>
                <ul>
                    <p>
                        "Feeding your fitness" – Harvard Health emphasizes the significance of consuming at least 70 grams
                         of protein throughout the day to fuel workouts effectively. It also highlights the importance of 
                         post-exercise nutrition, recommending about 20 grams of protein within 45 minutes after 
                         exercising, paired with carbohydrates if a meal isn't planned soon after.
                    </p>
                </ul>
                <ul>
                    <p>
                        "Importance of Good Nutrition on Physical Fitness" – Verywell Fit outlines how proper nutrition
                         maximizes athletic performance. It discusses the roles of carbohydrates, proteins, and fats in
                         preventing sluggishness during workouts and highlights specific vitamins and minerals crucial 
                         for fitness performance, such as iron, vitamin D, and zinc. 

                    </p>
                </ul>
                <ul>
                    <p>
                        "Sports and Nutrition: What Athletes Need to Know" – Mass General Brigham provides insights into
                         how macronutrients, micronutrients, meal timing, and supplements can enhance athletic performance.
                         The article offers practical advice on tailoring nutrition plans to individual needs and activity
                         levels.
                    </p>
                </ul>
                <ul>
                    <p>
                        "Food as Fuel Before, During and After Workouts" – The American Heart Association discusses the 
                        importance of hydration and nutrition during different phases of exercise. It provides guidelines 
                        on carbohydrate intake during prolonged, high-intensity workouts and emphasizes the role of proper
                        fueling in maintaining energy levels. 
                    </p>
                </ul>
                <ul>
                    <p><span style="font-size: 20px;color: crimson;"><b>Go through the links below to learn more about nutrition of various foods.</b></span></p>
                    <a href="https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/nutrition-basics/food-as-fuel-before-during-and-after-workouts" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>Food as Fuel Before, During and After Workouts</u></p>
                    </a>
                    <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/5-nutrition-tips-to-maximize-your-workouts" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>5 nutrition tips to maximize your workouts</u></p>
                    </a>
                    <a href="https://magazine.medlineplus.gov/nih-resources/physical-fitness-and-nutrition-know-your-terms" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>Physical fitness and nutrition: Know your terms</u></p>
                    </a>
                    <a href="https://www.bhf.org.uk/informationsupport/heart-matters-magazine/nutrition/food-for-fitness" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>Food for fitness: what should I eat before a workout?</u></p>
                    </a>
                    <a href="https://www.healthline.com/health/fitness-exercise-eating-healthy" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>Eating the Right Foods for Exercise</u></p>
                    </a>
                    <a href="https://www.uwhealth.org/news/eating-for-peak-athletic-performance" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>Eating for peak athletic performance Nutrition Sports</u></p>
                    </a>
                    <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/sporting-performance-and-food" target="_blank" style="text-decoration: none; color: inherit;">
                        <p><u>Sporting performance and food</u></p>
                    </a>
                </ul>

            </section>




            <section id="mealgrocery">
                <h2>Meal Prep & Grocery Tips</h2>
                <p>Learn to meal prep efficiently with our expert tips.
                    <ol>
                        <li>Meal Prep Strategies</li>
                        <ul>
                            <li>
                                Plan Your Meals in Advance – Create a weekly meal plan that aligns with your fitness goals
                                (muscle gain, fat loss, endurance, etc.).
                            </li>
                            <li>
                                Batch Cooking – Cook in bulk to save time (e.g., grilled chicken, roasted vegetables, 
                                quinoa, or brown rice).
                            </li>
                            <li>
                                Portion Control – Use meal prep containers to divide meals appropriately for balanced nutrition.
                            </li>
                            <li>
                                Prep Ingredients, Not Just Meals – Wash and chop veggies, marinate proteins, and pre-cook grains
                                for quick meal assembly.
                            </li>
                            <li>
                                Use Freezer-Friendly Meals – Store meals in the freezer to maintain freshness for longer durations.
                            </li>
                        </ul>
                        <li>Grocery Shopping Tips</li>
                        <ul>
                            <li>Shop with a List – Stick to a planned grocery list to avoid buying unhealthy foods.</li>
                            <li>Shop the Perimeter – Fresh produce, lean proteins, and dairy are usually found around the store’s edges.</li>
                            <li>Choose Whole Foods – Focus on unprocessed, nutrient-dense foods (lean meats, whole grains, fruits, and vegetables).</li>
                            <li> Buy in Bulk – Save money on healthy staples like oats, rice, quinoa, nuts, and frozen vegetables.</li>
                            <li>Read Nutrition Labels – Avoid added sugars, unhealthy fats, and high-sodium content in packaged foods.</li>
                            <li>Stock Healthy Snacks – Keep nuts, Greek yogurt, hard-boiled eggs, and fruits on hand to curb cravings.</li>
                            
                        </ul>
                        <li> Macronutrient Balance for Fitness</li>
                        <ul>
                            <li> Protein (Muscle Repair & Growth) – Chicken, fish, eggs, tofu, lentils, Greek yogurt.</li>
                            <li>Carbohydrates (Energy Source) – Sweet potatoes, quinoa, oats, whole wheat bread.</li>
                            <li> Fats (Hormonal Balance & Satiety) – Avocados, nuts, olive oil, seeds.</li>
                            <li> Hydration – Drink plenty of water and consider electrolyte-rich drinks for intense workouts.</li>
                        </ul>
                        <li>Learn From Experts</li>
                        <ul>
                            <li>
                                <a href="https://youtu.be/6An7iH4BwJo?si=fXVVaMxd6k2T2bp_" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>Meal Prep Tips to Avoid Making Boring Food</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/LCyECbA3pUw?si=hs7aLVTq7VNatU8n" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>Meal Plan to Lose Fat Faster</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/qI1YslvHFvw?si=hjc7itCVvUdLp5cZ" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>Groceries for Muscle Building</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/aADukThvjXQ?si=tHaF3yq4DgLlH5CS" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>How to Simplify Your Nutrition</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/vgNSddHF5xY?si=fatPso9iNtpVZfwP" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>Simple High Protein Budget Meal Prep</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/NO-EbXMB4gc?si=jZxrrwqES3_xWhcN" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>Be a Meal Prep Pro</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/ToDbJsR5YRI?si=UZmoMzEXw7uCZNt_" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>Weakly Meal Prep Strategies</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://youtu.be/LzWb_P4lYgA?si=0k5PAwH-Mymdoi2m" target="_blank" style="text-decoration: none; color: inherit;">
                                    <p>20 Healthy Meal Recipes</p>
                                </a>
                            </li>
                        </ul>
                        <li>Go through the blogs of some of the greatest fitness experts</li>
                        <ul>
                            <li>
                                <a href="https://tobyamidornutrition.com/" target="_blank">
                                    <p>Toby Amidor</p>
                                    <img src="{% static 'images/Toby.jpg' %}" alt="Toby Amidor Blog" width="300">
                                </a>
                            </li>


                            <li>
                                <a href="https://joybauer.com/" target="_blank">
                                    <p>Joy Bauer</p>
                                    <img src="{% static 'images/Joy.jpeg' %}" alt="Joy Bauer Blog" width="300">
                                </a>
                            </li>

                            <li>
                                <a href="https://www.rujutadiwekar.com/" target="_blank">
                                    <p>Rujuta Diwekar</p>
                                    <img src="{% static 'images/Rujuta.jpg' %}" alt="Rujuta Diwekar Blog" width="300">
                                </a>
                            </li>
                            <li>
                                <a href="https://nutritionfacts.org/" target="_blank">
                                    <p>Michael Greger</p>
                                    <img src="{% static 'images/Michael.png' %}" alt="Michael Greger Blog" width="300">
                                </a>
                            </li>
                            <li>
                                <a href="https://drhyman.com/" target="_blank">
                                    <p>Mark Hyman</p>
                                    <img src="{% static 'images/Mark.jpeg' %}" alt="Mark Hyman Blog" width="300">
                                </a>
                            </li>
                            <li>
                                <p>You can also visit the Fitness Centre of Concordia University</p>
                                <a href="https://www.concordia.ca/campus-life/recreation/fitness.html">Fitness Centre</a>
                            </li>
                        </ul>
        
                        
                    </ol>
                </p>
            </section>
                
            </section>
            <section id="healthyfoods">
                <h2>Some delicious and healthy recipes for everyone</h2>
                <img src="{% static 'images/image1.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image2.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image3.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image4.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
            
                <img src="{% static 'images/image6.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image7.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image8.jpg' %}"alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image9.jpg' %}"alt="Anti Belly Bloat Green" width="400" height="400">







            

            </section>
            <section id="FAQ">
                <h2>Frequently Asked Questions</h2>
                <p>
                    <b><u>What is CUFitness?Who can use CUFitness?Is it free to use?How can I
                     sign up?</u></b>
                    CUFitness is a web-based fitness and nutrition platform designed for the Concordia University 
                    community to help students plan workouts, track progress, and maintain a healthy lifestyle. CUFitness
                    is available for all Concordia University students, faculty, and staff.Yes! The basic features of 
                    CUFitness are free for all Concordia University members. Some premium features may require a 
                    subscription.You can sign up using your Concordia University email or through a guest account.
                </p>
                <p>
                    <b><u>Can I create my own workout plan?Does CUFitness offer guided workouts?Can I track my workout progress?
                    Are the workouts tailored to different fitness levels?</u></b>
                    Yes, you can customize your workout plan based on your fitness goals. You can also choose from 
                    pre-designed programs.Yes! We provide video tutorials and step-by-step instructions for various 
                    exercises.Yes, CUFitness allows you to log your workouts and track your fitness progress over time.
                    Absolutely! CUFitness offers beginner, intermediate, and advanced-level workout plans.
                </p>
                <p>
                    <b><u>Does CUFitness provide meal plans?Can I track my calorie intake?Are the meal plans designed for 
                    students on a budget?</u></b>
                    Yes, we offer customized meal plans based on your fitness goals and dietary preferences.Yes! You can 
                    log your meals, and CUFitness will help you track your calorie intake.Yes, we offer affordable meal 
                    plan suggestions using ingredients that are easy to find.
                </p>
                <p>
                    <b><u>Can I connect with other students for workouts?Is there professional guidance available?How can I get 
                    customer support?</u></b>
                    Yes! You can join fitness groups, participate in challenges, and find workout partners.Yes, CUFitness
                    provides access to certified trainers and nutritionists for personalized advice.You can contact our 
                    support team via email or chat through the app.
                </p>
                <p>
                    <b><u>What should I do if I forget my password?Is my data safe with CUFitness?</u></b>
                    You can reset your password by clicking on the "Forgot Password" link on the login page. Yes, we 
                    prioritize user privacy and ensure that all data is securely stored and protected.
                </p>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 CUFitness. All rights reserved.</p>
        </footer>
    </body>
</html>